<center>
    <h2>인공지능 프로그래밍언어 기초 4장 과제</h2>
</center>

<p style="text-align: right;font-size: 1.4em">
    학과: e-비즈니스학과<br>
    학번: 202221498<br>
    이름: 강 현승
</p>

## 4주차 01 함수

### LAB 4-5: 두 수 연산을 수행하는 함수

#### 1. 차 출력

In [2]:
def print_sub(a, b):
    print('{}과 {}의 차는 {}입니다.'.format(a, b, a - b))
print_sub(10, 20)

10과 20의 차는 -10입니다.

#### 2. 곱 출력

In [3]:
def print_sub(a, b):
    print('{}과 {}의 곱은 {}입니다.'.format(a, b, a * b))
print_sub(10, 20)

10과 20의 곱은 200입니다.

### LAB 4-6: 함수의 사용

#### 1. 2차 방정식 근 계산

In [5]:
def print_root(a, b, c):
    r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
    r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
    print('해는', r1, '또는', r2)

# (1)
print_root(1, 4, -21)
# (2)
print_root(1, -6, 8)

해는 3.0 또는 -7.0
해는 4.0 또는 2.0

#### 2. 삼각형 면적 계산

In [7]:
def print_area(width, height):
    print(
        '밑변 {}, 높이 {}인 삼각의 면적은 : {}'.format(
            width,
            height,
            int(width * height * 1/2)
        )
    )
print_area(10, 20)

밑변 10, 높이 20인 삼각의 면적은 : 100

### LAB 4-7: 원의 면적과 둘레를 반환하는 함수

#### 1. 원의 면적과 둘레를 반환하는 함수

In [9]:
def circle_area_circum(radius):
    pi = 3.14
    area = radius ** 2 * pi
    circum = radius * 2 * pi
    return area, circum
radius = 10
area, circum = circle_area_circum(radius)
print('반지름 {}인 원의 면은 {:.1f}, 원의 둘레는 {:.1f}'.format(
    radius,
    area,
    circum
))

반지름 10인 원의 면은 314.0, 원의 둘레는 62.8

### LAB 4-8: 다수의 결과를 반환하는 함수 만들기

#### 1. n의 배수 m개를 반환하는 multiplies 함수 구현

In [10]:
def multiplies(m, n):
    result = []
    for i in range(1, n + 1):
        result.append(m * i)
    return tuple(result)
r1, r2, r3, r4 = multiplies(3, 4)
print(r1, r2, r3, r4)
r1, r2, r3, r4, r5 = multiplies(2, 5)
print(r1, r2, r3, r4, r5)

3 6 9 12
2 4 6 8 10

### LAB 4-9: 키워드 인자

#### 1.

In [12]:
def print_name(honorifics, first_name, last_name):
    '''키워드 인자를 이용한 출력용 프로그램'''
    print(honorifics, first_name, last_name)

# a)
print_name(first_name='Gildong', last_name='Hong', honorifics='Dr.')

# b)
print_name('Gildong', 'Hong', 'Dr.')

Dr. Gildong Hong
Gildong Hong Dr.

### LAB 4-10: 가변 인자의 활용

#### 1.

In [14]:
def sum_nums(*numbers):
    print(
        '{} 개의 인자 {}'.format(
            len(numbers),
            numbers,
        )
    )
    print(
        '합계 : {} , 평균 : {}'.format(
            sum(numbers),
            sum(numbers) / len(numbers)
        )
    )
sum_nums(10, 20, 30)
sum_nums(10, 20, 30, 40, 50)

3 개의 인자 (10, 20, 30)
합계 : 60 , 평균 : 20.0
5 개의 인자 (10, 20, 30, 40, 50)
합계 : 150 , 평균 : 30.0

#### 2.

In [15]:
def min_nums(*numbers):
    result = numbers[0]
    for number in numbers:
        if result > number:
            result = number
    print('최솟값은', result)

min_nums(20, 40, 50, 10)

최솟값은 10

## 4주차 02 함수_실습문제

### 실습_문제 1

In [1]:
def print_my_address():
    print("e-비즈니스학과", "010-8468-0551", "h5k@ajou.ac.kr")


print_my_address()

e-비즈니스학과 010-8468-0551 h5k@ajou.ac.kr

### 실습_문제 2

In [2]:
a, b, c = 1, 2, 3


def get_square(x, y, z):
    return [x**2, y**2, z**2]


a_sq, b_sq, c_sq = get_square(a, b, c)
print("{} 제곱: {}, {} 제곱: {}, {} 제곱: {}".format(a, a_sq, b, b_sq, c, c_sq))

1 제곱: 1, 2 제곱: 4, 3 제곱: 9

### 실습_문제 3

In [3]:
def weeklyPay(rate, hour):
    if hour > 30:
        return (30 * rate) + ((hour - 30) * rate * 1.5)
    return rate * hour


myPayByHour = int(input("시급을 입력하시오:"))
myHour = int(input("근무 시간을 입력하시오:"))
print(weeklyPay(myPayByHour, myHour))

시급을 입력하시오: 30
근무 시간을 입력하시오: 11150

501300.0

### 실습_문제 4

In [33]:
def getMinMax(numbers, method='max'):
    print(numbers)
    while method not in ["max", "min"]:
        if method == "q":
            return
        print("illegal method")
        method = input("최댓값을 원하면 max, 최솟값을 원하면 min을 입력하시오: ")
    numbers = sorted(numbers)
    return numbers.pop() if method == 'max' else numbers[0]


print(getMinMax([24, 12, 65, 7, 95], input("최댓값을 원하면 max, 최솟값을 원하면 min을 입력하시오: ")))

최댓값을 원하면 max, 최솟값을 원하면 min을 입력하시오:  hi

[24, 12, 65, 7, 95]
illegal method

최댓값을 원하면 max, 최솟값을 원하면 min을 입력하시오:  max

95

### 실습_문제 5

In [17]:
# 순환
def fibonacci(n):
    if n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fibonacci(n - 2) + fibonacci(n - 1)

print(fibonacci(int(input('몇 번째 항?'))))

몇 번째 항? 9

21

In [18]:
# for
def fibonacci(n):
    numbers = [0, 1]
    for _ in range(n):
        numbers.append(numbers[-2] + numbers[-1])
    return numbers[n - 1]


print(fibonacci(int(input('몇 번째 항?'))))

몇 번째 항? 9

21